
@import reset/default-reset
@import reset/custom-reset
@import mixin


// =========================================
// ============= 组件 ======================
// =========================================

// 按钮
.button
  +border-radius(3px)
  font-size: 1em
  +skin-bgfg($main_orange, #fff)
  text-align: center
  border: 0
  @extend %display_bug
  padding: 3px 5px
  cursor: pointer
  font-family: "微软雅黑"
.button_good2
  @extend .button
  width: 55px
  text-align: left
  .good_num
    @extend %display_bug
    text-align: center
    font-style: normal
    width: 40px
.button_code
  margin-left: 7px
  img
    +size(90px, 35px)
.button_signup
  @extend .button
  border: 1px solid #fff
  width: 60px
  background: rgba(0,0,0,0)
.button_signin
  @extend .button
  +size(65px, 27px)
.button_gray
  @extend .button
  background: #a0a0a0
.button_small
  @extend .button
  padding: 3px 7px 3px 5px
  font-size: 12px
.button_mid
  @extend .button
  padding: 5px 7px
.button_lg
  @extend .button_mid
  width: 70px
.button_xg
  @extend .button
  padding: 10px
  width: 300px
  margin-left: 20px
  font-size: 1.2em
  +border-radius(8px)
.button_good
  @extend .button
  +border-radius(5px)
  padding: 5px 15px
.button_attention
  @extend .button_mid
  +position(absolute, right, 0, bottom, 15px)
// 文本输入框
.input
  padding-left: 5px
  font-size: 1em
  background: #fff
  +line-height(35px)
  +border-radius(3px)
  outline: 0
  border: 0
  font-family: "微软雅黑"
.input_sign
  @extend .input
  +line-height(30px)
  border: 1px solid #ccc
  width: 500px
.input_form
  @extend .input
  border: 1px solid #ccc
  +line-height(30px)

// 圈子成员搜索输入框
.circleSearch
  float: right
  +size(200px, 25px)
  border: 1px solid #c9c9c9
  overflow: hidden
  color: #7d7d7d
  margin-top: 10px
  +border-radius(3px)
.circleSearch_input
  @extend .input
  +line-height(25px)
  width: 87%


// 超链接
.link_white
  +link(#fff, #fff)
.link_gray
  +link(#333, #333)
.link_gray_white
  +link(#333, #fff)
.link_blue
  +link(#4e6e9f, #4e6e9f)
.link_orange
  +link($main_orange, $main_orange)
.link_gray_light
  +link(#a1a6b7, #a1a6b7)
.link_gray_orange
  +link(#333, $main_orange)
.link_purple
  +link(#8b4dad, #8b4dad)
.link_white_blue
  +link(#fff, #b7dcf5)
.link_white_purple
  +link(#fff, #e9dbf0)
.link_white_green
  +link(#fff, #cceedd)
.link_white_orange
  +link(#fff, #f6e0c9)

// 背景图标定位
%background-image
  +size(40px)
  overflow: hidden
  background-image: url("../images/icons.png")
  @extend %display_bug
.icon-smc
  @extend %background-image
  background-position: 0 0
  cursor: pointer
  &:hover
    background-position: 0 -40px
    transition: background 0.3s cubic-bezier(.17, .67, .88, 1.25), color 0.2s linear
.icon-group
  @extend .icon-smc
  background-position: -40px 0
  &:hover
    background-position: -40px -40px
.icon-coin
  @extend .icon-smc
  background-position: -80px 0
  &:hover
    background-position: -80px -40px
.icon-coin2
  @extend %background-image
  background-position: -80px -40px
.icon-coin3
  @extend %background-image
  background-position: -90px -90px
  +size(25px)
.icon-remind
  @extend %background-image
  background-position: -120px 80px
.icon-hot
  @extend %background-image
  +size(40px, 25px)
  background-position: -160px -40px
.icon-female
  @extend %background-image
  background-position: -120px 0
  +position-common(absolute)
.icon-male
  @extend %background-image
  background-position: -160px 0
  +position-common(absolute)
%icon-online
  +size(80px, 70px)
  +position(absolute, right, 20px, top, 0)
.icon-ing,
.icon-end
  @extend %icon-online
  z-index: 3
.icon-attention
  @extend %icon-online
.attention_num
  @extend %icon-online
  color: #fff
  text-align: center
  +line-height(35px)
.attention_text
  @extend .attention_num
  top: 20px
.icon-creator
  @extend %background-image
  background-position: -200px -80px
  +position-common(absolute)
.icon-admin
  @extend %background-image
  background-position: -240px -80px
  +position-common(absolute)
.icon-venus
  +skin-bgfg(#f19ec2, #fff)
  +size(20px)
  line-height: 20px
  text-align: center
  @extend %display_bug
.icon-mars 
  @extend .icon-venus
  +skin-bgfg(#00b7ee, #fff)

// 块元素一行显示
.inline_li
  li
    @extend %display_bug

// 底部白色线
.bb_white
  border-bottom: 1px solid #fff
.bb_gray
  border-bottom: 1px solid #c9c9c9
.bb_gray_mid
  border-bottom: 1px solid #535353

// IE属性display:inline-block的bug
%display_bug
  display: inline-block
  *display: inline
  *zoom: 1

// 相对靠右，相当于float: right
.position_right
  +position(absolute, right,0 ,bottom, 0)

// =========================================
// ============= 页面版块 ===================
// =========================================


// 固定顶部导航
.fixed_top_nav
  width: 100%
  height: 54px
  +box-shadow(2px 2px 2px #aaa)
  z-index: 100
  position: fixed
  background: #fff
// 顶部导航
.top_nav
  padding: 7px 0
  position: relative
  .not_signin
    width: 230px
    text-align: right
    @extend %display_bug
.top_nav *
  vertical-align: middle
.top_nav_list
  @extend %display_bug
  width: 1025px
  li
    margin-right: 30px
    @extend %display_bug
.top_nav_remind
  +position(relative, top, 5px, left, 12px)
  color: #fff
.top_nav_user
  @extend %display_bug
  width: 100px
.user_attach
  cursor: pointer
  @extend %display_bug
  padding: 10px
  +position(absolute, right, 0, top, 10px)
  z-index: 9
  background: #fff
.user_attach_hover
  border: 1px solid #c9c9c9
  border-bottom: 0
.user_menu
  +position(absolute, right, 0, top, 45px)
  border: 1px solid #c9c9c9
  z-index: 8
  background: #fff
  width: 136px
  text-align: left
  a
    display: block
    padding: 10px 10px 10px 20px
    color: #333
    &:hover
      color: $main_orange

// 导航
.nav
  background: #240f0a url('../images/nav-bg.png') repeat-x 
  height: 100px
.nav_circle
  @extend .nav
  background-color: #210a24
.nav_attention
  @extend .nav
  background-color: #16240a
.nav_online
  @extend .nav
  background-color: #181a29
.nav_logo
  margin: 0 95px 0 20px
.nav_list 
  font-size: 18px
  li
    margin-right: 20px
    padding: 10px 20px

.nav_search
  margin: 15px 0 0 70px
  width: 320px
  .input
    overflow: hidden
.nav_search_input
  +line-height(35px)
  width: 290px
  border: 0
  outline: none
.nav_search_hot
  font-size: 12px
  margin-top: 5px
  dt,
  dd
    @extend %display_bug
    margin-right: 5px
  
// 链接
.links
  padding: 50px 150px
.links_list
  width: 150px
  @extend %display_bug
  text-align: center
  dd,
  dt
    +line-height(25px)

// 版权
.copyright
  border-top: 1px solid #c9c9c9
  margin-top: 200px
  padding: 30px 0
  text-align: center
  color: #a1a6b7
  font-size: 12px
  a
    color: #a1a6b7
    margin-right: 5px
    &:hover
      color: #a1a6b7



// 分页
.pagination
  text-align: center
  margin: 50px 0
  .on
    +skin-bgfg($main_orange, #fff)
    padding: 5px 10px
  a
    padding: 5px 10px
    color: #333
    &:hover
      +skin-bgfg($main_orange, #fff)
    


// =========================================
// ============= 模块 ======================
// =========================================

// 绝对居中
.center
  margin: 0 auto
  width: 1260px
.position_center
  +position-center(1260px)

// 标题
.title
  font-size: 20px
  +line-height(45px)
.title_14
  font-size: 14px
  +line-height(30px)
  border-bottom: 1px solid #ccc
.title_16
  font-size: 16px
  +line-height(35px)
.title_more
  float: right
  font-size: 12px
  color: #878787

// 左右布局
.layout_left_index
  @extend %display_bug
  border-right: 1px solid #c9c9c9
  padding-right: 20px
  vertical-align: top
  width: 880px
.layout_left
  @extend .layout_left_index
  margin-bottom: 20px
.layout_right_index
  @extend %display_bug
  width: 350px
  vertical-align: top
.layout_right
  @extend .layout_right_index
  padding-left: 10px
  width: 340px

%background_tip
  +skin-bgfg(rgba(0,0,0,.7), #fff)
  font-size: 10px
  padding: 3px 10px
// 首页热门精选图片提示
.seleced_img_tip
  @extend %background_tip
  +position(absolute, bottom, 0, left, 0)
  width: 160px
// 圈子广场图片提示
.square_img_tip
  @extend %background_tip
  +position(absolute, top, 0, left, 0)
  width: 100px
  text-align: right

// 头像
%user_portrait
  +size(75px)
  +border-radius(40px)
  overflow: hidden
  border: 3px solid #fff
  +box-shadow(2px 2px 2px #aaa)
  cursor: pointer

.user_portrait_center
  @extend %user_portrait
  margin: 0 auto
.user_portrait
  @extend %user_portrait
  margin: 15px 0 0 20px
  position: relative

// 头像名片
.user_portrait_card
  background: #fff
  +size(380px, 200px)
  +box-shadow(0px 0px 10px #aaa)
  .title
    +line-height(25px)
    font-size: 16px
    padding-bottom: 5px
  .content
    padding: 15px 15px 0 15px
    height: 82px
  .card_bottom
    background: black
    font-size: 12px
    color: #fff
    padding: 7px 15px
  .card_bottom_info
    li
      margin: 0 10px
      padding: 0
    span
      display: block
      text-align: center


.user_portrait_rcard
  @extend .user_portrait_card
  left: 60px
  .card_bottom_info
    text-align: right

// 图标菜单
.icon-menu
  +size(15px)
  +border-radius(10px)
  background: #a0a0a0
  @extend %display_bug

// 灰色文本小号
.gray_small
  color: #7d7d7d
  font-size: 12px

// 我加入的圈子板块
.circle_join
  margin-bottom: 10px
  li
    margin: 15px 9px 10px 0

// 水平选项卡
.tab_post
  @extend %display_bug
  a
    color: #333
    @extend %display_bug
    padding: 5px 25px
    &:hover,
    &.current
      +skin-bgfg(#535353, #fff)

// 选项卡右侧排序 
.tab_orange
  a
    color: #333
    @extend %display_bug
    line-height: 30px
    margin-left: 15px
    &:hover,
    &.current
      color: $main_orange

// 收藏夹选项卡
.tab_collection
  border-bottom: 2px solid $main_orange
  margin: 20px 0 30px 0
  position: relative
  font-size: 16px
  p
    line-height: 40px
  a
    color: #333
    padding: 10px 15px
    margin-bottom: -3px
    &:hover
      color: #333
    &.current
      border: 2px solid $main_orange
      border-bottom: 3px solid #fff
  .button_mid
    +position(absolute, right, 0, bottom, 7px)

// 推荐关注的人
.portrait_sex
  li
    margin-top: 20px
    margin-bottom: 20px
    position: relative
    padding-bottom: 10px
.user_infos
  +position(relative, bottom, 15px, left, 20px)

// 帖子标签
.tag_post
  +size(100px, 50px)
  line-height: 50px
  text-align: center
  color: #fff
  margin: 5px 0 5px 5px

// 视频帖
.video_post
  +size(240px, 150px)
  font-size: 50px
  background: rgba(0,0,0,.6)
  +position(absolute, top, 20px, left, 20px)
  color: #fff
  line-height: 150px
  text-align: center

// 加载图标
.loading
  +position(absolute, left, 40%, top, 30%)
  +size(80px)
  background: url('../images/loading.gif') no-repeat

// 帖子文本
.post_text
  width: 350px
  @extend %display_bug
  vertical-align: middle

// 活动结束背景层
.end_bg
  +size(300px, 150px)
  +position-common(absolute)
  background: rgba(0,0,0,.6)
  z-index: 2

// 空间右侧菜单列表
.space_menu
  li    
    border-bottom: 1px solid #c9c9c9  
  a
    @extend %display_bug
    width: 90%
    +line-height(35px)
    padding-left: 10px
    color: #333
    &:hover,
    &.current
      color: $main_orange

// 头像图标
.icon-portrait
  +size(40px)
  overflow: hidden
  +border-radius(20px)
  +box-shadow(0px 0px 3px #aaa)

// 表单左右布局
%margin
  margin: 50px 0
.form_edit
  +edit-table(87px, 600px)
  @extend %margin
.form_account
  +edit-table(75px, 400px)
  @extend %margin
.form_dialog
  +edit-table(120px, 250px)
.form_post
  +edit-table(75px, 620px)
  @extend %margin

// 提示信息
.tipbox
  +line-height(54px)
  +position-common(absolute)
  display: none
.tip-l
  float: left
  height: 54px
  width: 45px
  background-image: url(../images/tip_layer.png)
  background-repeat: no-repeat
  background-position: -5px 0
.tipbox .tip-c
  @extend .tip-l
  width: auto
  line-height: 52px
  padding: 0 10px 0 5px
  background-position: 0 -161px
  background-repeat: repeat-x
.tipbox .tip-r
  @extend .tip-l
  width: 5px
  background-position: 0 0
.tip-success .tip-l
  background-position: -6px 0
.tip-alert .tip-l
  background-position: -6px -54px
.tip-error .tip-l
  background-position: -6px -108px


// 弹窗对话框
.dialog_bg
  +position-common(absolute)
  background: rgba(0,0,0,.6)
  width: 100%
  z-index: 99
.dialog
  +position(fixed, top, 30%, left, 35%)
  z-index: 100
  background: #fff
.dialog_title
  +skin-bgfg(#4e6e9f, #fff)
  margin: 3px
  +line-height(35px)
  padding: 0 20px
  .icon-close
    float: right
    margin: -25px -10px
    cursor: pointer
.dialog_content
  padding: 20px

.dialogLogin
  +display_inline(400px, 210px)
  .inline_left
    padding: 20px 0 0 20px
    border-right: 1px solid #c9c9c9


// =========================================
// ============= 元件 ======================
// =========================================

// 表单验证
+form-validate-white
+form-validate

// 字符限制
+elimit-width(5em)
+elimit-width(8em)
+elimit-width(15em)
+elimit-width(20em)
+elimit-width(25em)
+elimit-width(30em)
+elimit-width(35em)
+elimit-width(45em)

// 段落
.p
  line-height: 160%
  margin-bottom: 7px

// 多行文本输入框
.textarea
  width: 99%
  height: 100px
  outline: none
  padding-left: 5px
  border: 1px solid #c9c9c9
  font-family: "微软雅黑"
  font-size: 1em

// 内外边距
.pv20
  padding: 20px 0
.mh10
  margin: 0 10px
.mh25
  margin: 0 25px
.mh50
  margin: 0 50px
.mt22
  margin-top: 22px
.ml88
  margin-left: 88px
  
// 背景
.bg_gray
  background: #707070
.bg_gray_light
  background: #bfbfbf
.bg_blue,
.bg_0
  background: #00b7ee
.bg_pink,
.bg_1
  background: #ea68a2
.bg_green,
.bg_2
  background: #9dc02e
.bg_yellow,
.bg_3
  background: #ffb800
.bg_orange
  background: $main_bg

// 尺寸
+size-icon(200, 120)
+size-icon(300, 150)
+size-icon(130, 90)
+size-icon(180, 210)
+size-icon(230, 80)
+size-icon(240, 180)
+size-icon(240, 150)
+size-icon(75)
+size-icon(70)
+size-icon(40)
+size-icon(120)
+size-icon(180)


// 颜色
+color('gray_light', '#bbb')
+color('gray_mid', '#7d7d7d')
+color('orange', '#fd7400')
+color('red')
+color('white')
+color('blue', '#3b70c0')
+color('purple', '#8b4dad')
+color('green', '#52a6ab')
+color('black')

// 导入其他元件
@import base/default-base
@import base/custom-base