
@import ../mixin

// 上传头像
.upload_input
  display: block
  input
    +size-icon(120)
.upload_img
  cursor: pointer
  img
    border: 1px solid #aaa


// 消息设置选项
.setting_options
  padding-bottom: 20px
  span,
  label
    width: 200px
    display: inline-block
  input
    margin-right: 5px
  *
    vertical-align: middle
