
@import ../mixin


// 圈子广场
.square_classify
  margin: 15px
  a
    margin-right: 20px
.square_img
  +border-radius(10px)
  +size(120px)
  overflow: hidden
.square_list
  li
    width: 130px
    display: inline-block
    margin: 0 20px 20px 20px

// 圈子成员
.circle_members
  padding-left: 10px
  li
    padding: 0 30px 10px 5px
    position: relative

// 覆盖样式，加入的圈子
.circle_join_md
  li
    margin-top: 0
    position: relative

// 用户身份
.user_identity
  background: $main_bg
  +line-height(120px)
  text-align: center
  color: #7d7d7d

// 圈子成员管理图标
.adminBtn
  +position(absolute, right, 5px, top, 15px)
  width: 25px
  text-align: center
  color: #7d7d7d
  
// 添加友情圈子
.addCircle
  margin-left: 100px
  li
    display: inline-block
    margin: 0 40px
    color: #7d7d7d
    text-align: center
    cursor: pointer
.addCircle_block
  border: 1px dashed #aaa
  +size(75px)
  line-height: 70px
  

// 数据统计表格
.table_datas
  +table
    tr
      border-bottom: 1px solid #c9c9c9
    td
      text-align: center

// 数据块
.datas_block
  margin-left: 20px
  color: #fff
  font-size: 16px
  li
    +size(180px, 160px)
    margin-right: 15px
  span
    display: block
    margin-top: 10px
    text-align: center
    &:first-child
      margin-top: 65px

// 添加违禁词
.addWord
  margin: 15px 0
  .input
    border: 1px solid #c9c9c9
    width: 250px
    margin-right: 10px
    +line-height(30px)