
@import ../mixin

// 条款
.items
  margin-bottom: 30px
.items_title
  background: $main_bg
  +line-height(30px)
  font-size: 16px
  padding-left: 20px
.items_list
  margin: 10px 20px
  li
    line-height: 30px

// 锚点
.anchor
  +position(fixed, top, 200px, right, 560px)
  li
    line-height: 30px
    list-style-type: circle
  a
    color: #333
    &:hover,
    &.current
      color: $main_orange

// 搜索结果-圈子页
.resultList
  li
    border-bottom: 1px solid #c9c9c9
    padding: 20px
    +display-inline(100px, 725px)

// 错误页面和404页面
.errorBlock
  margin-top: 50px
  +display-inline(700px, 300px)